
__pycache__/imageprocessinglib.cpython-36.pyc
__pycache__/settingsfile_lib.cpython-36.pyc
__pycache__/drill_lib.cpython-36.pyc
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/DrillMaster.iml
.DS_Store
